async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
ffmpeg==1.4
umongo
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
youtube-dl
pytube
bs4
beautifulsoup4
cloudscraper
m3u8
python-telegram-bot
requests
pywidevine
datetime
