async-lru==2.0.5
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
mutagen
pyaes==1.6.1
pycryptodome
pyrogram
pyromod==1.5
PySocks
python-dotenv
requests==2.31.0
soupsieve
TgCrypto==1.2.5
urllib3==2.4.0
websockets
yt-dlp==2025.01.26
motor
aiohttp
aiofiles
pytz
ffmpeg
umongo
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
youtube-dl
pytube
bs4
beautifulsoup4
cloudscraper
m3u8
python-telegram-bot
pywidevine
datetime
aria2
